p{
	line-height:1.6em
	font-weight: 400;
	font-family: "open_sanssemibold";
	opacity: 0.6;
	font-size: 14px;
}

h2 {
	font-family: "open_sansbold";
	position: relative;
}

h6,h3,h4,h5 {
	font-family: "open_sansbold";
}

h2::after {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12%;
    content: " ";
    border-bottom: 3px solid #F97794;
}

input:focus-visible {
	outline:  none;
}

i {
	color: #fff;
}

a {
	font-family: "open_sanssemibold";
	text-decoration: none;
}

::placeholder {
	color: #212529;
	opacity:  0.6;
	font-family: 'open_sanssemibold';
	font-size: 14px;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../assets/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#spotlight {
	background: url("../assets/images/Web-Development-Company-USA.jpg") no-repeat;
	background-size: cover;
	color: rgba(255,255,255,0.8);
}

#spotlight .side-menu {
	position: fixed;
	left: -100%;
	top: 0;
	height: 100vh;
	transition: 700ms ease;
	z-index: 2;
	backdrop-filter: blur(2px) brightness(40%);
}

#spotlight .side-menu.active {
	left: 0;
	background: rgba(255,255,255,0.7);
}

#spotlight .side-menu .close-button {
	position: absolute;
	right: -30px;
	top: 0;
}

#spotlight .side-menu .close-button i {
	color: #F97794;
} 

#spotlight .side-menu .nav-item:hover,#spotlight .nav-item:focus {
	background: #F97794;
}

#spotlight .side-menu .nav-item .nav-link {
	color: #000;
}

#spotlight .wrapper {
	backdrop-filter: brightness(20%);
	padding-bottom: 100px;
}

#spotlight .nav-item .nav-link {
	position: relative;
	font-family: "open_sanssemibold";
	color: rgba(255,255,255,0.8);
	font-size: 15px;
}

#spotlight header button:focus {
	box-shadow: none;	
}

#spotlight header button.active {
	animation: scaling 1s ease-in-out;
	background: #F97794;
}

@keyframes scaling {
  0% {transform: scale(1,1);}
  50% {transform:  scale(1.1,1.1);}
  100% {transform:  scale(1,1);}
}

#spotlight header .nav-item>.active::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    content: " ";
    border-bottom: 4px solid #F97794;
    border-radius: 2px;
}

#spotlight .content {
	margin-top: 150px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#spotlight .content h1 {
	font-family: "open_sansbold";
}

#spotlight .content button {
	background: #F97794;
	border: 1px solid #F97794;
	padding: 0 70px;
	font-family: "open_sanssemibold";
}

#services {
	color: #000;
	background: url(../assets/images/bg-1.svg) no-repeat;
	background-size: 100%;
	background-position: center bottom;
	padding: 100px 0;
}

#services .middle .item .item-child {
	border: 2px solid rgba(111,111,111,0.3);
	position: relative;
}

#services .middle div.item div.active {
	border: 2px solid #F97794;
}

#services .middle .item .item-child .imagewrapper {
	background: rgba(255,0,0,0.1);
}

#services .middle .item .item-child h5 {
	font-family: "open_sansbold";
}

#services .middle .item .item-child p {
	font-family: "open_sanssemibold";
	font-size: 14px;
	opacity: 0.6;
}

#services .middle .item .item-child i.down {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #F97794;
	background: #fff;
}

#services .middle .item .item-child i.up {
	position: absolute;
	right: 10px;
	top: 20px;
	color: #F97794;
	background: #fff;
}

#services .bottom {
	margin-top: 100px;
}

#services .bottom span {
	font-family: "open_sanssemibold";
	font-size: 14px;
	opacity: 0.6;
}

#services .bottom button {
	background: #F97794;
	border: 1px solid #F97794;
	padding: 0 40px;
	font-family: "open_sanssemibold";
	font-size: 15px;
}

#about .content h6 {
	font-size: 18px;
}

#portfolio {
	padding: 100px 0;
	background: url(../assets/images/bg-2.svg) no-repeat;
	background-size: 100%;
	background-position: center top;
}

#portfolio .slick-first .item .imagewrapper {
	border: 2px solid rgba(0,0,0,0.1);
	overflow: hidden;
	border-radius: 8px;
	position: relative;
}

#portfolio .slick-first .item h6 {
	font-family: "open_sansbold";
	font-size: 21px;
}

#portfolio .slick-first .item .imagewrapper p {
	display: none;
	opacity: 1;
	color: rgba(255,255,255,0.8);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	backdrop-filter: brightness(30%) blur(3px);
}

#portfolio .slick-first .item .imagewrapper:hover>p {
		display: block;
}

.slick-second .slick-list{
	margin-right: -20px!important;
}

.slick-second.slick-initialized .slick-slide {
	margin-right: 20px!important;
}

.slick-prev,.slick-next {
    display: none!important;
}

.slick-dots {
    position: absolute;
    bottom: -50px;
    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 39px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #F97794;
    font-size: 55px;
}

#tech_stack .item-child .imagewrapper {
	cursor: pointer;
	border: 2px solid #fff;
}

#tech_stack .item-child .imagewrapper:hover {
	border: 2px solid #F97794;
	box-shadow: 0 8px 30px 0 rgb(103 151 255 / 11%), 0 12px 90px 0 rgb(103 151 255 / 11%);
}

#tech_stack .item-child .imagewrapper h6 {
	font-size: 12px;
	font-family: "open_sanssemibold";
}

#tech_stack .item-child .imagewrapper img {
	width: 65%;
}

#tech_stack .middle {
	color: rgb(255,255,255);
	background: #F97794;
}

#tech_stack .middle .item-child {
	border: 1px dotted rgba(255,255,255,0.6);
}

#tech_stack .middle .item h6 {
	font-family: "open_sanssemibold";
}

#tech_stack .middle .item span {
	font-family: "open_sansbold";
}

#tech_stack .bottom .testimonials {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#tech_stack .bottom .testimonials__top .left {
	overflow: hidden;
	width: 120px;
	height: 120px;
}

#tech_stack .bottom .testimonials__top .right h4 {
	font-family: "open_sansbold";
}

#tech_stack .bottom .testimonials__top .right span {
	line-height:1.6em
	font-weight: 400;
	font-family: "open_sanssemibold";
	opacity: 0.6;
	font-size: 17px;
}

#team {
	padding: 100px 0;
	background: #FAFAF6;
	margin-top: 100px;
}

#team .slick-second .item {
	border: 3px solid rgba(111,111,111,0.1);
}

#team .slick-second .item h4 {
	font-family: "open_sansbold";
}

#team .slick-second .item .imagewrapper {
	background: #F97794;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#blogs .content .item {
	overflow: hidden;
}

#blogs .content .item h5 {
	font-family: "open_sansbold";
	font-size: 21px;
	width: 80%;
}

#blogs .content .item h5:hover {
	color: #F97794;
}

#blogs .content .item .item__bottom {
	color: rgba(111,111,111,0.8);	
}

#blogs .content .item .item__bottom span i {
	color: rgba(111,111,111,0.6);
	font-size: 13px;	
}

#blogs .content .item .item__bottom span span {
	font-family: "open_sanssemibold";
	font-size: 14px;
}

#contact {
	background: #F7F9FF;
	padding: 100px 0;
}

#contact .content .content__left input, textarea {
	border: 3px solid rgba(111,111,111,0.1);
	font-family: "open_sansbold";
}

#contact .content .content__left button {
	background: #F97794;
	border: 1px solid #F97794;
	padding: 0 35px;
	font-family: "open_sanssemibold";
	font-size: 14px;
}

#contact .content .content__right div h6 {
	font-family: "open_sanssemibold";
	font-size: 21px;
}

#contact .content .content__right div i {
	color: #F97794;
	font-weight: bold;
}

#contact .content .content__right div a {
	color: #F97794;
}

#social .left div .imagewrapper {
	background: #F97794;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

#social .left h3 {
	font-size: 30px;
}

#social .right span {
	overflow: hidden;
	cursor: pointer;
}

#social .right span:hover img {
	transform: scale(1.1,1.1);
	transition: 300ms ease-in;
}
footer {
	position: relative;
	border-top: 1px dotted rgba(111,111,111,0.5);
	font-size: 14px;
	font-family: "open_sanssemibold";
}

footer .wrapper .left a {
	color: #e87f13;
}

footer .wrapper .right a {
	color: #212529;
	opacity: 0.6;
}

footer .imagewrapper {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-50%,-50%);
	background: #F97794;
	width: 35px;
	height: 35px;
}

@media screen and (min-width: 1200px) {
	#spotlight .content h1 {
		font-size: 60px;
	}
}

@media screen and (min-width: 992px) {
	#tech_stack .middle .item span {
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	#tech_stack .middle .item span {
		font-size: 12px;
	}
}

@media screen and (max-width: 576px){
	#services {
		padding: 50px 0;
		background-clip: content-box;
	}

	#services .bottom {
		margin-top: 50px;
		padding-bottom: 50px;
	}

	#services .middle .item-child {
		padding: 15px;
		border-radius: 8px!important;
	}

	#services .middle .item-child h5 {
		z-index: -1;
		font-size: 18px!important;
	}

	#services .middle .item-child.drop h5 {
		margin-bottom: 10px!important;
		z-index: 0;
	}

	#services .middle .item-child span,#services .middle .item-child p {
		height: 0;
		display: none;
	}

	#services .middle .item-child.drop p,#services .middle .item-child.drop span {
		height: unset;
		display: block;
	}

	#services .middle .item-child.drop i.down {
		display: none!important;
	}

	#services .middle .item-child.drop i.up {
		display: block!important;
	}

	#portfolio {
		padding: 50px 0;
		background-clip: content-box;
	}

	#portfolio .wrapper {
		padding-top: 50px;
	}

	#tech_stack .middle span {
		font-size: 13px;
	}

	#team {
		padding: 50px 0 75px 0;
		margin-top: 0;
	}

	#team .slick-second span.text {
		font-size: 13px;
	}

	#contact {
		padding: 50px 0;
	}

	#contact .content .content__left textarea {
		border-radius: 28px!important;
	}

	#spotlight .content {
		margin-top: 50px;
	}

	footer div.left {
		font-size: 13px;
	}
}

@media screen and (min-width: 480px) {
	.slick-first .slick-list, .slick-third .slick-list {
		margin-right: -20px!important;
	}

	.slick-first.slick-initialized .slick-slide, .slick-third.slick-initialized .slick-slide {
		margin-right: 20px!important;
	}
}
